.idea
architectures/__pycache__/
architectures/SDNs/__pycache__/
tools/__pycache__/
data/
notebooks/.ipynb_checkpoints
notebooks/__pycache__/
notebooks/old_notebooks/
notebooks/jupyter*
confusion_experiments/
internal_maps/
ionut_awscloud.pem
client_secrets.json
*.simg
